@import (css) url("https://rsms.me/inter/inter-ui.css");
@import (css) url("https://fonts.googleapis.com/css?family=Zilla+Slab:500");

.ui-font {
  font-family: "Inter UI", Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  @supports (font-variation-settings: normal) {
    font-family: "Inter UI var alt", sans-serif;
    font-weight: 450;
  }
}
