.ui-font {
  font-family: "Inter UI", Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  @supports (font-variation-settings: normal) {
    font-family: "Inter UI var alt", sans-serif;
    font-weight: 450;
  }
}
